<mat-card>

    <mat-card-content>
        <button
            mat-button
            color="primary"
            (click)="update.emit({type: 'rifle', tag: 'ak47'})">
            AK47
        </button>
        <button
            mat-button
            color="primary"
            (click)="update.emit({type: 'rifle', tag: 'm16'})">
            M16
        </button>
        <button
            mat-button
            color="primary"
            (click)="update.emit({type: 'mag', tag: '30_round_mag'})">
            30 Round Magazine
        </button>
        <button
            mat-button
            color="primary"
            (click)="update.emit({type: 'mag', tag: '50_round_mag'})">
            50 Round Magazine
        </button>
        <button
            mat-button
            color="primary"
            (click)="update.emit({type: 'scope', tag: 'reddot'})">
            Red Dot Sight
        </button>
        <button
            mat-button
            color="primary" 
            (click)="update.emit({type: 'scope', tag: 'acog'})">
            ACOG Scope
        </button>

    </mat-card-content>

    <mat-card-actions>
        <button
            color="primary"
            mat-button
            (click)="confirm.emit()">
            Confirm
        </button>
    </mat-card-actions>

</mat-card>
