<div class="container">

    <app-rifle-display
        [rifle]="RifleService.activeRifle | async"
        [mag]="RifleService.activeMag | async"
        [scope]="RifleService.activeScope | async">
    </app-rifle-display>

    <app-rifle-config
        (update)="RifleService.setActive($event)"
        (confirm)="RifleService.printConfig()">
    </app-rifle-config>

</div>
