<div class="card-container">
    <mat-card *ngIf="scope">
        <mat-card-header>
            <mat-card-title>{{scope.label}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{scope.file}}" />
    </mat-card>
</div>

<div class="card-container">
    <mat-card *ngIf="mag">
        <mat-card-header>
            <mat-card-title>{{mag.label}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{mag.file}}" />
    </mat-card>
</div>

<div class="card-container">
    <mat-card *ngIf="rifle">
        <mat-card-header>
            <mat-card-title>{{rifle.label}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{rifle.file}}" />
    </mat-card>
</div>
