.card-container {
    display: inline-block;
    margin: 0 0 10px 0;
    box-sizing: border-box;

    &:nth-child(1) {
        width: 50%;
        padding: 0 4px 0 0;
    }
    &:nth-child(2) {
        width: 50%;
        padding: 0 0 0 4px;
    }
    &:nth-child(3) {
        display: block;
    }
}

mat-card {
    box-sizing: border-box;
}
